<nav class="nav-main">

    <img class="logo" src="/imagen/3.jpg" alt="ivan logo">

    <div class="titulo">
        <h1>LITTLE APPLE CORP.</h1>
        <h3> by CEO Ivan Wamba</h3>

    </div>

    <ul class="nav-menu">
        <li>
            <a href="/index">Home</a>
        </li>

        <li>
            <a href="/views/users/index">User</a>
        </li>
        <li>
            <a href="/views/clients/index">Clients</a>
        </li>
        <li>
            <a href="javascript:alert('no implementado!')">Logout</a>
        </li>
    </ul>

    <ul class="nav-menu-right">
        <li>
            <a href="#">
                <i class="fas fa-search"></i>
            </a>
        </li>
    </ul>
</nav>